*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: white;
}


@media only screen and (min-width: 320px) {
    .section {
      margin-left: 0%;
    }
  }

  @media only screen and (min-width: 768px) {
    .section {
      margin-left: 25%;
    }
  }

.nav-img{
    width: 100px;
    height: 30px;
   
}

.nav div a{
    text-decoration: none;
    color: black;
}

.nav div a:hover{
    color: rgb(122, 247, 122);
}

 .button:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(224, 97, 224);
    border: none;
}

.button{
    margin: 10px;
    text-decoration: none;
    transition-delay: 1s ease-in ease-out ;
}

.nav{
    padding: 10px 5px 0px 0px;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
 
.hero-title{
    padding: 20px 0px 0px 0px;
    font-size: 32px;
    text-align: center;
}

.publisher{
    text-align: center;
    padding-bottom: 10px;
}

.hero-img{
    background-position: center;
    width: max-content;
    width: 100%;
}

.content-head{
    font-size: 32px;
    padding: 20px 0px 20px 0px;
}

ul li{
    text-decoration: none;
    list-style: circle;
    padding: 20px 0px 20px 0px;
}


a:hover{
    color: rgb(89, 89, 246);
    text-decoration: underline;
}

.intro-img{
    width: 100%;
}

.intro-title{
    padding: 50px 0px 0px 0px;
    font-size: 32px;
}

.link1-text{
    letter-spacing: 1.5px;
    line-height: 25px;
}

#features{
    padding: 50px 0px 50px 0px;
}

.features{
    line-height: 30px;
    font-size: 32px;
}

.Ad{
    padding: 30px 0px 0px 0px;
    line-height: 30px;
    font-size: 32px;
}

.Dis{
    line-height: 30px;
    font-size: 32px;
}

#Differences{
    padding: 50px 30px 0px 0px;
}

h1{
    line-height: 40px;
}

h2{
    line-height: 40px;
}

#Differences p{
    letter-spacing: 1.5px;
    line-height: 25px;
}

#start{
    padding: 50px 30px 0px 0px;
   
}

#start p b{
    font-size: 32px;
}

.footer{
    background-color: rgb(212, 212, 212);
    text-align: center;
}